/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/bin/
/vendor/
/web/bundles/
/.idea/
/SqlDump/quran-bdd_lieu_revelation.sql
/SqlDump/quran-bdd_quran_text.sql
/SqlDump/quran-bdd_sura.sql

