{# app/Resourses/views/Default/index.html.twig #}
{% extends "::layout.html.twig" %}
{% block body %}
    <div>
        <span>Hello rien de spe a afficher encore !</span>
        
    </div>
        {% endblock %}